body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8bbab6;
    margin:0;
    color: #bc2122;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    padding: 20px;
}

.main-nav ul {
    display:flex;
    justify-content: center;
    list-style: none;
}

.main-nav a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.hero-section {
    height: 80vh; /* Takes up 80% of the screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-style: italic;
    line-height: 1.1;
    margin-bottom: 20px;
}

.brand-subtitle {
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4a6d6a; /* Darker teal for subtle contrast */
}

/* 4. Buttons - Making them look like the screenshot */
.btn {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    font-size: 0.9rem;
}

.btn-reserve {
    background-color: #e3000f; /* Vibrant Red */
    color: white;
}

.btn-order {
    border: 2px solid white;
    color: white;
}

nav {
    background-color: #8b0000;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.logo{
    color: white;
    font-weight:bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
    position: relative;
    padding-bottom: 5px;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #ffcc00;
    transition: width 0.3s ease;
}
nav ul li a:hover::after{
    width: 100%;
}

.recipe-container{
    max-width: 800px;
    margin: 40 px auto;
    background: white;
    padding: 40 px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.recipe-img{
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
}

h1 {
    color: #8b0000; border-bottom: 2px solid #eee; padding-bottom: 10px;
}

h2 {
    margin-top: 30px; font-size: 1.5rem; color:#444;
}

ul, ol {
    padding-left: 20px;
    line-height: 1.8;
}